*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Teko';
}
@font-face {
	font-family: 'Teko';
	src: url('fonts/Teko-Light.ttf');
}
body{
	background: #C0C0C0;
}
.width{
	max-width: 1380px;
	margin: 0 auto;
}

.header {
	background: url('img/stoke/image\ 1.png');
	height: 1101px;
	margin: 0 auto;
}

.header_nav_bar {
	width: 833px;
	padding: 34px 0;
	margin-left: auto ;
}
.header_nav_bar ul {
	display: flex;
	justify-content: space-between;

}
.header_nav_bar li{
	list-style: none;
	font-family: 'Teko';

}
.header_nav_bar ul li a{
	text-decoration: none;
	font-family: 'Teko';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 23px;
	text-align: center;
	color: #FFFFFF;
}
.header_title {
	margin-top: 246px;
}
.header_title h2 {
	font-family: 'Teko';
	font-style: normal;
	font-weight: 300;
	font-size: 128px;
	line-height: 183px;
	color: #FFFFFF;
}
.header_title p{
	width: 812px;
	font-family: 'Teko';
	font-style: normal;
	font-weight: 300;
	font-size: 64px;
	line-height: 92px;
	color: #FFFFFF;
	
}




.choose {
	margin-bottom: 184px;
}
.choose_heading {
	padding-top: 112px;
}
.choose_heading h2{
	font-family: 'Teko';
	font-style: normal;
	font-weight: 300;
	font-size: 96px;
	line-height: 138px;
	letter-spacing: 0.095em;
	color: #333333;


}

.hr_black{
	border: 1px solid #000000;

}
.choose_block {
	padding-top: 112px;
	display: flex;
	justify-content: space-between;
}
.choose_card {
	width: 385px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
}
.choose_card img {
	margin-top: 40px;
	width: 243px;
height: 188px;
}
.choose_card h2{
	font-family: 'Teko';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 69px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #000000;
}

.choose_card p{
	font-family: 'Teko';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 46px;
text-align: center;
padding: 8px 33px;
color: #333333;

}

.choose_card a{
	width: 305px;
	background: #000;
	padding: 10px 0;
	font-family: 'Teko';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 34px;	
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 14px;
	transition: .2s color ease-in-out, .3s background ease-in;
	border: 1px solid #000;

}
.choose_card a:hover{
	background: #fff;
	color: #000;
	border: 1px solid #000;
	transition: .2s color ease-in-out, .3s background ease-in;

}

.travelers_heading h2{
	font-family: 'Teko';
	font-style: normal;
	font-weight: 300;
	font-size: 96px;
	line-height: 138px;
	letter-spacing: 0.095em;
	color: #333333;
}

.travelers_main_block{
	padding-top: 112px;
	display: flex;
}
.travelers_first_block {
}
.travelers_second_block {
	padding-left: 73px;
	padding-top: 81px;
}
.travelers_second_block h2{
	font-family: 'Teko';
font-style: normal;
font-weight: 300;
font-size: 96px;
line-height: 80px;
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #000000;
padding-bottom: 36px;
}
.travelers_second_block p{
	font-family: 'Teko';
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 92px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #333333;
padding-bottom: 29px;

}
.travelers_second_block h3{
	font-family: 'Teko';
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 92px;
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #333333;
padding-bottom: 94px;

}
.travelers_second_block a{
	font-family: 'Teko';
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 92px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #000000;
width: 564px;
padding: 24px 145px;
text-align: center;
background: #fff;
text-decoration: none;
transition: .2s color ease-in-out, .3s background ease-in-out;

}
.travelers_second_block a:hover{
	background: #000;
	color: #fff;
	transition: .2s color ease-in-out, .3s background ease-in;

}





.footer{
	background: #fff;
	margin-top: 343px;
}

.footer_main{
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.footer_author h3{
	font-family: 'Teko';
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 52px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #000000;
}
.footer_link {

}

.footer_link ul{
	display: flex;
}
.footer_link li{
	list-style: none;
	margin-left: 21px;
}
.footer_link a{
	text-decoration: none;
}
.footer_link img{
	width: 32px;
	height: 32px;
}
